<div class="container">
  <div class="row">
    <p></p>
    <%= form_with model: @user, local:true do |f| %>
    <% end %>
    <%= attachment_imagr_tag(user.name) %>
    <% end %>
    <%%>
    <p></p>
    <p></p>
  </div>
</div>



