<div class="container">
  <h3>フォロー</h3>
  <% if @users.exists? %>
    <%= render '/relationships/user_info', users: @users %>
  <% else %>
    <div class="">気になったユーザーをフォローしてみよう</div>
  <% end %>
</div>