<div class="card text-dark" style="max-width: 100%;">
  <img src="<%= asset_path "about.jpg" %>" class="card-img">
  <div class="card-img-overlay">
    <div class="row justify-content-end mt-5">
      <div class="col-6">
        <h1>Baby-communicationは</h1>
        <p>子育て中の夫婦、妊娠中の女性へ向けた情報共有できるSNSサイトです</p>
        <h5>こんな方に使っての欲しい</h5>
        <ul>
          <li>初めての子育てだけど、上手く育てていけるか不安</li>
          <li>こどもの寝かしつけのいい方法が分からない</li>
          <li>おすすめの離乳食があったから紹介したい</li>
          <li>子育て中役立った情報を共有したい</li>
        </ul>
        <p>
          子どものお世話をする時間も赤ちゃんである時間も一瞬です。<br />
          このサイトを通してたくさんの知恵や経験を共有し合い、<br />
          充実した子育てライフのお手伝いができたら幸いです。
        </p>
      </div>
    </div>
  </div>
</div>
