<div class="card text-white text-center" style="max-width: 100%;">
  <img src="<%= asset_path "top.jpg" %>" class="card-img">
  <div class="card-img-overlay">
    <h1 class="card-title">ようこそBaby-Communicationへ</h1>
    <p class="card-text">子育て中の夫婦、妊娠中の女性のための情報共有サイトです。</p>
  </div>
</div>
