<div class="container">
  <h2>投稿一覧</h2>
  <%= @posts.each do |post| %>
    <div class="card">
      <%= link_to post.title, post_path(post), class: "" %>
    </div>
    <div class="card">
      <%= post.body %>
    </div>
    <div>
      <%= attachment_image_tag(post, :image, :size "100x100") %>
    </div>
  <% end %>
</div>